/*Root styling for repeated colors*/
:root { 
    --background:#252525; 
    --contrast:#c1d1dd;
    --brighttext:#e6193f;
    }
    
    * {
        padding: 0;
        margin: 0;
        font-family:Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }
    
    /*Styling for header and hero - now consolodated and fixed issues*/
    nav {
        display: flex;
        justify-content: space-between;
        padding: 25px 20px;
    }
    
    h1 {
        color: var(--brighttext);
        font-size: 40px;
        font-weight: bold;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px  25px;
    }
    nav ul li a{
        color: var(--contrast);
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
    
    nav ul li a:hover {
        color: var(--brighttext);
    }
    
    .joshhero{
        height: 75vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image:linear-gradient(black, rgb(77, 77, 77), rgb(70, 70, 70),rgb(77, 77, 77),black);  /*I intend to make/ask a friend for a simple graphic for the background to replace the gradiant, this is placeholder*/
    }
    
    .herocontent {
        display: block;
        position: absolute;
        top: 50%;
        left:8%; /* change these values to suit the background image*/
    }
    
    h2 {
        color: var(--contrast);
    }
    
    span {
        color: var(--brighttext);
    }
    
    .herocontent button {
        border: 1px solid var(--background);
        display: inline-block;
        color: var(--background);
        background-color: var(--contrast);
        text-align: center;
        cursor: pointer;
        padding: 8px 8px;
        border-radius: 8px 10px 8px 10px;
        }
    
    
    .herocontent button:hover {
        background-color: var(--background);
        color: var(--brighttext);
        }
    
    /* About Me/ My Story styling*/
    .my-story {
        width: 100%;
        padding: 60px;
        background-image: linear-gradient(black, rgb(77, 77, 77), rgb(70, 70, 70),rgb(77, 77, 77),black);
    }
    
    .categorylabel {
        display: flex;
        width: 70%;
        padding: 30px;
    }
     .categorylabel h2 {
        color: var(--brighttext);
        font-size: 25px ;
     }
    
     .mystorycontent {
        display: inline-block;
        color: var(--contrast);
        left: 15px;
        position: relative;
        left: 50px;
        flex-wrap: wrap;
        width: 85%;
        font-size: 20px;
     }